// variablar för light mode:
$background-color: #FCFAFF;
$purple: #DFD6F2;
$text-color: #212121;
$btn-color: #8D79B1;

// variablar för klassen dark (dark-mode):
$background-color-dark-mode: #0F0A17;
$purple-dark-mode: #211631;
$text-color-dark-mode: #F0F0F0;
$btn-color-dark-mode: #0B0712;
