@charset "UTF-8";
h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
  color: black;
  background-color: #FCFAFF;
  color: #212121;
}
body.dark {
  background-color: #0F0A17;
  color: #F0F0F0;
}

.main-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-container .main-header {
  padding: 1rem;
  flex: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #DFD6F2;
}
.main-container .main-header.dark {
  background-color: #211631;
}
.main-container .container {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
@media (min-width: 1000px) {
  .main-container .container {
    flex: 0 0 50%;
  }
}
.main-container .container .space-name {
  background-color: #DFD6F2;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.main-container .container .space-name.dark {
  background-color: #211631;
}
.main-container .container .space-name .input-field {
  flex: 0 0 100%;
  height: 56px;
  margin: 1rem 0 1rem 0;
  padding-left: 1.4rem;
  border-radius: 6px;
  outline: none;
  border: none;
}
.main-container .container .space-name .input-field::-moz-placeholder {
  color: #898989;
}
.main-container .container .space-name .input-field::placeholder {
  color: #898989;
}
.main-container .container .space-name button {
  font-weight: 500;
  padding: 1rem 3.5rem;
  border-radius: 15px;
  margin-top: 1rem;
  border: 1px solid transparent;
}
@media (min-width: 520px) {
  .main-container .container .space-name button {
    width: auto;
  }
}
.main-container .container .space-name button:focus {
  outline: none;
  border: 1px solid transparent;
}
.main-container main {
  width: 100%;
}
.main-container main h2 {
  text-align: center;
}
.main-container main h3 {
  text-align: center;
}
.main-container main #image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}
.main-container main #image-container .card {
  flex: 0 0 100%;
}
@media (min-width: 750px) {
  .main-container main #image-container .card {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media (min-width: 1000px) {
  .main-container main #image-container .card {
    flex: 0 0 calc(25% - 1rem);
  }
}
.main-container main #image-container .card .card-figure {
  border: 1px solid black;
  height: 300px;
  width: 100%;
}
.main-container main #image-container .card .card-figure .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.switchBtn {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  /* Gömmer default HTML checkbox */
  /* slider */
}
.switchBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switchBtn input:checked + .slider {
  background-color: #3B304B;
}
.switchBtn input:checked + .slider:before {
  transform: translateX(23px);
  background-color: #0F0A17;
}
.switchBtn input:focus + .slider {
  box-shadow: 0 0 2px black;
}
.switchBtn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BCA0E6;
  border-radius: 34px;
  transition: 0.4s;
}
.switchBtn .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #FCFAFF;
  border-radius: 50%;
  transition: 0.4s;
}/*# sourceMappingURL=style.css.map */